/* ===== VARIABLES ===== */

:root{

    --color-primary:#4a6cf7;
    --color-bg:#f5f5f5;
    --color-card:#ffffff;
    --color-border:#dcdcdc;
    --color-text:#333;

    --radius:8px;
    --transition:0.25s;

}

/* ===== RESET ===== */

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

/*Css del Login*/

body.login-page{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:var(--color-bg);
    font-family:Arial, sans-serif;
}

.login{
    width:360px;
    height: 260px;
    padding:40px;
    background:white;
    border-radius:14px;
    box-shadow:0 6px 16px rgba(0, 0, 0, 0.08);
    text-align:center;
}

.login h2{
    font-size:24px;
    margin-bottom:16px;
}

.login input{
    display:block;
    width:85%;
    margin:6px auto;
    padding:10px;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:16px;
}

.login input:focus{
    outline:none;
    border:1px solid #787878;
}

.login .login-aceptar{
    width:85%;
    margin:18px auto 0 auto;
    display:block;
    padding:7px;
    border:none;
    border-radius:8px;
    background:#4a6cf7;
    color:white;
    font-size:20px;
    font-weight: 350;
    cursor:pointer;
}

.login button:hover{
    background:#3c5ce0;
}



/*Css ConsultarTablas*/

body.consultarTablas-page {
    margin-left: 10px;
    font-family: 'Segoe UI', sans-serif;
    background: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Flechita de la página */

.back-button-tablas{

    position:absolute;

    top:20px;
    left:20px;

    font-size:20px;
    color:#555;

    text-decoration:none;

    transition:0.2s;

}

.back-button-tablas:hover{

    color:#4a6cf7;
    transform:translateX(-3px);

}

/* La tarjeta base renombrada */
.consultas {
    background-color: #ffffff;
    padding: 18px 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    border: 1px solid #e1e4e8;
    box-sizing: border-box; /* Importante para que el padding no rompa el ancho */
    position: relative;
}

/* Ancho del buscador */
.consultas-tamanio {
    width: 1450px;
    height: 650px;
}

.consultas-header {
    text-align: center;
    margin-bottom: 18px;
}

.consultas-header i {
    font-size: 28px;
    color: #2d3436;
}

.consultas-header h2 {
    font-size: 25px;
    margin: 4px 0 0 0;
    color: #2d3436;
    text-transform: uppercase;
}

/* Alineación horizontal */
.consultas-menu-horizontal {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 15px;
}

.consultas-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.consultas-item label {
    font-size: 20px;
    font-weight: bold;
    color: #7f8fa6;
    text-transform: uppercase;
}

/* Inputs */
.consultas-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dcdde1;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #ffffff;
}

/* Botón Aceptar/Buscar */
.consultas-aceptar {
    padding: 10px 18px;
    background-color: #00a8ff;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
    white-space: nowrap;
}

.consultas-aceptar:hover {
    background-color: #0097e6;
}

/* Tabla de consultas */
.consultas-tabla-container {
    border: 1px solid #eee;
    border-radius: 6px;
    overflow: hidden;
}

.consultas-tabla {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    table-layout: fixed;
}


.consultas-tabla th {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #eee;
    color: #2d3436;
}

.consultas-tabla td {
    padding: 10px;
    border-bottom: 1px solid #f1f1f1;
}

.tabla-vacia {
    text-align: center;
    color: #ccc;
    padding: 20px !important;
}




body.campaniaActual-page {
    margin-left: 10px;
    font-family: 'Segoe UI', sans-serif;
    background: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* La tarjeta base renombrada */
.campaniaActual {
    background-color: #ffffff;
    padding: 18px 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    border: 1px solid #e1e4e8;
    box-sizing: border-box; /* Importante para que el padding no rompa el ancho */
    position: relative;
}

/* Ancho del buscador */
.consultasActuales-tamanio {
    width: 1450px;
    height: 650px;
}

.consultasActuales-header {
    text-align: center;
    margin-bottom: 18px;
}

.consultasActuales-header i {
    font-size: 28px;
    color: #2d3436;
}

.consultasActuales-header h2 {
    font-size: 25px;
    margin: 4px 0 0 0;
    color: #2d3436;
    text-transform: uppercase;
}

/* Alineación horizontal */
.consultasActuales-menu-horizontal {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 15px;
}

.consultasActuales-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #7f8fa6;
}

.consultasActuales-item label {
    font-size: 20px;
    font-weight: bold;
    color: #7f8fa6;
    text-transform: uppercase;
}

/* Inputs */
.consultasActuales-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dcdde1;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #7f8fa6;
}

/* Botón Aceptar/Buscar */
.consultasActuales-aceptar {
    padding: 10px 18px;
    background-color: #00a8ff;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
    white-space: nowrap;
}

.consultasActuales-aceptar:hover {
    background-color: #0097e6;
}

/* Tabla de consultas */
.consultasActuales-tabla-container {
    border: 1px solid #eee;
    border-radius: 6px;
    overflow: hidden;
}

.consultasActuales-tabla {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    table-layout: fixed;
}


.consultasActuales-tabla th {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #eee;
    color: #2d3436;
}

.consultasActuales-tabla td {
    padding: 10px;
    border-bottom: 1px solid #f1f1f1;
}

.tablaActual-vacia {
    text-align: center;
    color: #ccc;
    padding: 20px !important;
}

/* CSS Menú de clientes */
body.menuClientesBody {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Div Principal */
.menuClientes {
    background-color: #ffffff;
    width: 400px;
    height: 390px;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    border: 1px solid #e1e4e8;
    position: relative;
}

.back-button-menuClientes{

    position:absolute;

    top:20px;
    left:20px;

    font-size:20px;
    color:#555;

    text-decoration:none;

    transition:0.2s;

}

.back-button-menuClientes:hover{

    color:#4a6cf7;
    transform:translateX(-3px);

}

.menuClientes-header {
    text-align: center;
    margin-bottom: 32px;
    margin-top: 20px;
}

.menuClientes-header i {
    font-size: 38px;
    color: #2d3436;
}

.menuClientes-header h2 {
    font-size: 25px;
    margin: 4px 0 0 0;
    color: #2d3436;
    letter-spacing: 0.5px;
}

.menuClientes-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 18px;
}

/* Botones de navegación */
.menuClientes-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 12px;
    background:#f7f8fa;
    border: 1px solid #dcdde1;
    border-radius: 6px;
    text-decoration: none;
    color: #2f3640;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.2s;
}

.menuClientes-btn:hover {
    border-color: #00a8ff;
    color: #00a8ff;
    background: #f0f9ff;
}

.menuClientes-btn i {
    font-size: 14px;
    color: #7f8fa6;
}

.menuClientes-btn:hover i {
    color: #00a8ff;
}



/*Css Usuarios*/

body.usuariosBody {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Div Principal */
.usuarios {
    background-color: #ffffff;
    width: 400px;
    height: 390px;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    border: 1px solid #e1e4e8;
    position: relative;
}

.back-button-usuarios{

    position:absolute;

    top:20px;
    left:20px;

    font-size:20px;
    color:#555;

    text-decoration:none;

    transition:0.2s;

}

.back-button-usuarios:hover{

    color:#4a6cf7;
    transform:translateX(-3px);

}

.usuarios-header {
    text-align: center;
    margin-bottom: 32px;
    margin-top: 20px;
}

.usuarios-header i {
    font-size: 38px;
    color: #2d3436;
}

.usuarios-header h2 {
    font-size: 25px;
    margin: 4px 0 0 0;
    color: #2d3436;
    letter-spacing: 0.5px;
}

.usuarios-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 18px;
}

/* Botones de navegación */
.usuarios-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 12px;
    background:#f7f8fa;
    border: 1px solid #dcdde1;
    border-radius: 6px;
    text-decoration: none;
    color: #2f3640;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.2s;
}

.usuarios-btn:hover {
    border-color: #00a8ff;
    color: #00a8ff;
    background: #f0f9ff;
}

.usuarios-btn i {
    font-size: 14px;
    color: #7f8fa6;
}

.usuarios-btn:hover i {
    color: #00a8ff;
}


.usuarios-aceptar:hover {
    background-color: #0097e6;
}










/*Css Agregar Usuarios*/



body.agregarBody {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Div Principal */
.agregarUsuarios {
    background-color: #ffffff;
    width: 400px;
    height: 390px;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    border: 1px solid #e1e4e8;
    position: relative;
}

.back-button-agregarUsuarios{
    position:absolute;
    top:20px;
    left:20px;
    font-size:20px;
    color:#555;
    text-decoration:none;
    transition:0.2s;
}

.back-button-agregarUsuarios:hover{

    color:#4a6cf7;
    transform:translateX(-3px);

}

.agregarUsuarios-header {
    text-align: center;
    margin-bottom: 32px;
    margin-top: 20px;
}

.agregarUsuarios-header i {
    font-size: 28px;
    color: #2d3436;
}

.agregarUsuarios-header h2 {
    font-size: 25px;
    margin: 4px 0 0 0;
    color: #2d3436;
    letter-spacing: 0.5px;
}

.agregarUsuarios-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 18px;
}

/* Botones de navegación */
.agregarUsuarios-inp {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 12px;
    background:#f7f8fa;
    border: 1px solid #dcdde1;
    border-radius: 6px;
    text-decoration: none;
    color: #2f3640;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.2s;
}



.agregar-aceptar{
    width:100%;
    margin:18px auto 0 auto;
    display:block;
    padding:7px;
    border:none;
    border-radius:8px;
    background:#4a6cf7;
    color:white;
    font-size:20px;
    font-weight: 350;
    cursor:pointer;
}

.agregar-aceptar:hover{
    background:#3c5ce0;
}






/*Css Cambiar Contraseñas*/



body.passwordBody {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Div Principal */
.password {
    background-color: #ffffff;
    width: 400px;
    height: 390px;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    border: 1px solid #e1e4e8;
    position: relative;
}


.passwordUsuarios-header {
    text-align: center;
    margin-bottom: 32px;
    margin-top: 20px;
}

.passwordUsuarios-header i {
    font-size: 26px;
    color: #2d3436;
}

.passwordUsuarios-header h2 {
    font-size: 25px;
    margin: 4px 0 0 0;
    color: #2d3436;
    letter-spacing: 0.5px;
}

.passwordUsuarios-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 18px;
}

/* Botones de navegación */
.passwordUsuarios-inp {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 12px;
    background:#f7f8fa;
    border: 1px solid #dcdde1;
    border-radius: 6px;
    text-decoration: none;
    color: #2f3640;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.2s;
}



.password-aceptar{
    width:100%;
    margin:18px auto 0 auto;
    display:block;
    padding:7px;
    border:none;
    border-radius:8px;
    background:#4a6cf7;
    color:white;
    font-size:20px;
    font-weight: 350;
    cursor:pointer;
}

.password-aceptar:hover{
    background:#3c5ce0;
}






/*Css Eliminar Usuario*/



body.eliminarBody {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Div Principal */
.eliminar {
    background-color: #ffffff;
    width: 400px;
    height: 390px;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    border: 1px solid #e1e4e8;
    position: relative;
}


.eliminarUsuarios-header {
    text-align: center;
    margin-bottom: 32px;
    margin-top: 20px;
}

.eliminarUsuarios-header i {
    font-size: 26px;
    color: #2d3436;
}

.eliminarUsuarios-header h2 {
    font-size: 25px;
    margin: 4px 0 0 0;
    color: #2d3436;
    letter-spacing: 0.5px;
}

.eliminarUsuarios-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 18px;
}

/* Botones de navegación */
.eliminarUsuarios-inp {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 12px;
    background:#f7f8fa;
    border: 1px solid #dcdde1;
    border-radius: 6px;
    text-decoration: none;
    color: #2f3640;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.2s;
}



.eliminar-aceptar{
    width:100%;
    margin:60px auto 0 auto;
    display:block;
    padding:14px;
    border:none;
    border-radius:8px;
    background:#4a6cf7;
    color:white;
    font-size:20px;
    font-weight: 350;
    cursor:pointer;
}

.eliminar-aceptar:hover{
    background:#3c5ce0;
}






/* Aquí empieza el CSS de Carlos */

/* CSS Menú */

/* ===== APP ===== */

.bodyMenu{

    font-family: "Segoe UI", Arial, sans-serif;
    background:var(--color-bg);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

}

.app{
    width:420px;
    background:var(--color-card);
    border-radius:var(--radius);
    padding:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
    position:relative;

}

/* ===== HEADER LOGOUT ===== */

.logout{
    margin-top:20px;
    display:flex;
    justify-content:center;
}

.logout-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #f7f8fa;
    color: red;
    border: 1px solid;
    border-color: red;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;  /* espacio sobre el botón */
    justify-content: flex-start; /* alinear texto e icono a la izquierda */
    width: fit-content;
}

.logout-btn:hover {
    background-color: #e74c3c;
    color: white;
}


/* ===== HEADER ===== */

.app__title{

    text-align:center;
    font-weight:500;
    margin-bottom:40px;
    color:var(--color-text);

}

/* ===== MENU ===== */

.menu{

    display:flex;
    flex-direction:column;
    align-items:center;
    gap:16px;

}

/* ===== BUTTON ===== */

.menu__button{

    width:340px;
    padding:20px 14px;

    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#f7f8fa;
    border:1px solid var(--color-border);
    border-radius:var(--radius);
    font-size:16px;
    cursor:pointer;

    transition:all var(--transition);

    text-decoration:none;
    color:inherit;

}

.menu__button .fa-user-plus{
    color:#4a6cf7;
}

.menu__button .fa-table{
    color:#00a8ff;
}

.menu__button .fa-rotate{
    color:#e67e22;
}

.menu__button .fa-users{
    color:#9b59b6;
}

/* hover */

.menu__button:hover{

    background:#f0f3ff;
    border-color:var(--color-primary);
    transform:translateY(-2px);
    box-shadow:0 4px 12px rgba(0,0,0,0.08);

}

/* active */

.menu__button:active{

    transform:scale(.97);

}

/* ===== INFO BOX ===== */

.info{

    position:absolute;
    right:-260px;
    top:160px;

    width:220px;

    background:#fafafa;
    border:1px solid var(--color-border);

    padding:15px;

    font-size:13px;
    line-height:1.5;

    border-radius:var(--radius);

}

/* ===== IMPORT ===== */

.import{

    margin-top:40px;
    display:flex;
    justify-content:center;

}

#importButton i{

    color:#2aa44f;

}

#excelFile{

    display:none;

}


/* ===== RESPONSIVE ===== */

@media(max-width:900px){

    .info{

        position:static;
        margin-top:30px;
        width:100%;

    }

}

/* CSS Agregar Cliente */

.back-button{

    position:absolute;
    left:20px;
    top:20px;

    font-size:20px;
    color:#555;

    text-decoration:none;

    transition:0.2s;

}

.back-button:hover{

    color:#4a6cf7;
    transform:translateX(-3px);

}

body.agregarCliente-page{

    font-family: "Segoe UI", Arial, sans-serif;
    background:var(--color-bg);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

}

.agregarClienteApp{

    width:640px;
    background:var(--color-card);
    border-radius:var(--radius);
    padding:40px;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
    position:relative;

}



.agregarCliente-page .form-card{

    width:520px;
    margin:auto;
    padding:30px;

    background:white;
    border:1px solid var(--color-border);
    border-radius:8px;

}

.cliente-form{

    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:12px 20px;

}

.cliente-form label{

    font-size:13px;
    color:#444;
    align-self:center;

}

.cliente-form input{

    height:26px;
    border:1px solid #bbb;
    padding:4px 6px;
    font-size:13px;

    transition: border-color 0.2s ease;

}

.cliente-form input:focus{

    outline:none;
    border-color:#4a6cf7;

}

.cliente-guardar{

    grid-column: span 2;      /* ocupa las dos columnas del grid */

    justify-self: center;     /* lo centra */

    margin-top:25px;          /* separación del último input */

    padding:10px 24px;

    background:#4a6cf7;
    color:white;

    border:none;
    border-radius:6px;

    font-size:14px;
    cursor:pointer;

    display:flex;
    align-items:center;
    gap:8px;

    transition:0.2s;

}

.cliente-guardar:hover{

    background:#3c5ce0;

}

.cliente-actualizar{

    grid-column: span 2;      /* ocupa las dos columnas del grid */

    justify-self: center;     /* lo centra */

    margin-top:25px;          /* separación del último input */

    padding:10px 24px;

    background:#4a6cf7;
    color:white;

    border:none;
    border-radius:6px;

    font-size:14px;
    cursor:pointer;

    display:flex;
    align-items:center;
    gap:8px;

    transition:0.2s;

}

.cliente-actualizar:hover{

    background:#3c5ce0;

}

.tooltip{
    position:relative;

}

.tooltip-text{

    position:absolute;

    bottom:-15px;
    left:50%;
    transform:translateX(-50%);

    background:#f7f8fa;
    color:black;

    padding:6px 10px;
    border-radius:6px;

    font-size:12px;

    white-space:nowrap;

    opacity:0;
    visibility:hidden;

    transition:0.2s;

    border: 1px solid black;


}

.tooltip:hover .tooltip-text{

    opacity:1;
    visibility:visible;

}

.acciones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.acciones a {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

.btn-editar {
    background-color: #3498db;
    color: white;
}

.btn-eliminar {
    background-color: #e74c3c;
    color: white;
}

.btn-editar:hover {
    background-color: #2980b9;
}

.btn-eliminar:hover {
    background-color: #c0392b;
}
.btn-verDatos {
    background-color: #40CAFF;
    color: white;
}

.btn-verDatos:hover {
    background-color: #37A9D4;
}



.consultas-tabla td {
    text-align: center;
}

.consultas-tabla th {
    text-align: center;
}

/* Aquí termina el CSS de Carlos */