<!DOCTYPE html>
<html lang="es">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Agregar Cliente</title>

  <link rel="stylesheet" href="../css/Style.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body class="agregarCliente-page">

<main class="app">

  <header class="app__header">

    <a href="menu.html" class="back-button">
      <i class="fa-solid fa-arrow-left"></i>
    </a>

    <h1 class="app__title">
      <i class="fa-solid fa-user-plus"></i>
      Agregar Cliente Nuevo
    </h1>

  </header>

  <section class="form-card">

    <form class="cliente-form">

      <label>nombre</label>
      <input type="text">

      <label>nifCif</label>
      <input type="text">

      <label>fechaNacimiento</label>
      <input type="date">

      <label>referencia</label>
      <input type="text">

      <label>casilla505anterior</label>
      <input type="text">

      <label>numerosCC</label>
      <input type="text">

      <label>datosFiscalesDescargados</label>
      <input type="text">

      <label>importe</label>
      <input type="number">

      <label>facturado</label>
      <input type="text">

      <label>recogidaDatos</label>
      <input type="text">

      <label>excelDatosElaboracion</label>
      <input type="text">

      <label>borrador</label>
      <input type="text">

      <label>presentada</label>
      <input type="text">

      <label>cobrado</label>
      <input type="text">

      <label>tipoCliente</label>
      <input type="text">

      <label>estadoCliente</label>
      <input type="text">

      <label>casilla505Actual</label>
      <input type="text">

    </form>

  </section>

</main>

<script src="../js/script.js"></script>

</body>
</html>