<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar un nuevo usuario</title>
    <link rel="stylesheet" href="../css/Style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body class="agregarBody agregarUsuario-page">

<div class="agregarUsuarios">

    <a href="usuarios.html" class="back-button-agregarUsuarios">
        <i class="fa-solid fa-arrow-left"></i>
    </a>

    <div class="agregarUsuarios-header">
        <i class="fa-solid fa-user-plus"></i>
        <h2>Agregar Usuario</h2>
    </div>

    <nav class="agregarUsuarios-menu">
        <input type="text" placeholder="Nombre del nuevo Usuario" class="agregarUsuarios-inp" id="nuevoNombre">
        <input type="email" placeholder="Correo electrónico" class="agregarUsuarios-inp" id="nuevoCorreo">

        <div class="login-password-container">
            <input type="password" placeholder="Contraseña" class="agregarUsuarios-inp" id="nuevaPassword">
            <i class="fa-solid fa-eye" id="toggleNuevaPassword"></i>
        </div>

        <div class="login-password-container">
            <input type="password" placeholder="Repetir contraseña" class="agregarUsuarios-inp" id="repetirPassword">
            <i class="fa-solid fa-eye" id="toggleRepetirPassword"></i>
        </div>

        <button class="agregar-aceptar">
            Aceptar
        </button>
    </nav>

</div>

<script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-auth-compat.js"></script>
<script src="../js/Script.js"></script>

</body>
</html>