<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/Style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body class="consultarTablas-page">

<div class="consultas consultas-tamanio">
    <div class="consultas-header">

        <a href="menu.html" class="back-button-tablas">
            <i class="fa-solid fa-arrow-left"></i>
        </a>

        <i class="fa-solid fa-circle-user"></i>
        <h2>Buscador de Clientes</h2>
    </div>

    <div class="consultas-menu-horizontal">
        <div class="consultas-item">
            <label>Campaña</label>
            <select class="consultas-input">
                <option>2026</option>
                <option>2025</option>
                <option>2024</option>
                <option>2023</option>
            </select>
        </div>

        <div class="consultas-item">
            <label>Nombre</label>
            <input type="text" class="consultas-input" placeholder="Nombre">
        </div>

        <div class="consultas-item">
            <label>Apellido</label>
            <input type="text" class="consultas-input" placeholder="Apellido">
        </div>

        <div class="consultas-item">
            <label>DNI / NIE</label>
            <input type="text" class="consultas-input" placeholder="DNI / NIE">
        </div>

        <button class="consultas-aceptar">BUSCAR</button>
    </div>

    <div class="consultas-tabla-container">
        <table class="consultas-tabla">
            <thead>
            <tr>
                <th>Cliente/DNI</th>
                <th>Año</th>
                <th>Fecha Creacion</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="5" class="tabla-vacia">Sin resultados</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="../js/Script.js"></script>


</body>
</html>