<!DOCTYPE html>

<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Editar Cliente</title>

    <link rel="stylesheet" href="../css/Style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body class="agregarCliente-page">

<main class="agregarClienteApp">

    <header class="app__header">

        <a href="campaniaActual.html" class="back-button">
            <i class="fa-solid fa-arrow-left"></i>
        </a>

        <h1 class="app__title">
            <i class="fa-solid fa-user-pen"></i>
            Editar Cliente
        </h1>

    </header>

    <section class="form-card">

        <form class="cliente-form">

            <label>nombre</label>
            <input type="text" value="Juan Pérez">

            <label>nifCif</label>
            <input type="text" value="12345678A">

            <label>fechaNacimiento</label>
            <input type="date" value="1990-05-10">

            <label>referencia</label>
            <input type="text" value="ABC123">

            <label>casilla505anterior</label>
            <input type="text" value="4500">

            <label>numerosCC</label>
            <input type="text" value="ES12345678901234567890">

            <label>datosFiscalesDescargados</label>
            <input type="text" value="Sí">

            <label>importe</label>
            <input type="number" value="120">

            <label>facturado</label>
            <select class="formulario-input">
                <option value="">Selecciona una opción</option>
                <option value="SI">SI</option>
                <option value="NO">NO</option>
            </select>

            <label>recogidaDatos</label>
            <input type="text" value="Completo">

            <label>excelDatosElaboracion</label>
            <input type="text" value="Sí">

            <label>borrador</label>
            <input type="text" value="Generado">

            <label>presentada</label>
            <input type="text" value="No">

            <label>cobrado</label>
            <select class="formulario-input">
                <option value="">Selecciona una opción</option>
                <option value="SI">SI</option>
                <option value="NO">NO</option>
            </select>


            <label>tipoCliente</label>
            <input type="text" value="Particular">

            <label>estadoCliente</label>
            <input type="text" value="Activo">

            <label>casilla505Actual</label>
            <input type="text" value="4800">

            <button type="submit" class="cliente-actualizar">
                <i class="fa-solid fa-pen-to-square"></i>
                Actualizar Cliente
            </button>

        </form>

    </section>

</main>

<!-- 1º Firebase -->
<script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-auth-compat.js"></script>

<!-- 2º Tu script -->
<script src="../js/Script.js"></script>

</body>
</html>
