<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Usuario</title>
    <link rel="stylesheet" href="../css/Style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body class="eliminarBody eliminar-page">

<div class="eliminar">

    <a href="usuarios.html" class="back-button-agregarUsuarios">
        <i class="fa-solid fa-arrow-left"></i>
    </a>

    <div class="eliminarUsuarios-header">
        <i class="fa-solid fa-user-minus"></i>
        <h2>Eliminar Usuarios</h2>
    </div>

    <nav class="eliminarUsuarios-menu">
        <input type="email" placeholder="Correo del usuario a eliminar" class="eliminarUsuarios-inp" id="correoEliminar">
        <button class="eliminar-aceptar">
            Aceptar
        </button>
    </nav>

</div>

<script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-auth-compat.js"></script>

<script src="../js/Script.js"></script>

</body>
</html>