<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../css/Style.css">

</head>

<body class="login-page">

<div class="login">
    <h2>Acceso</h2>

    <input type="text" class="login-usuario" placeholder="Usuario">
    <input type="password" class="login-password" placeholder="Contraseña">


    <button class="login-aceptar">Login</button>
</div>

<script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-auth-compat.js"></script>
<script src="../js/Script.js"></script>
</body>
</html>