<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menú de Clientes</title>
    <link rel="stylesheet" href="../css/Style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body class="menuClientesBody">

<div class="menuClientes">

    <a href="menu.html" class="back-button-menuClientes">
        <i class="fa-solid fa-arrow-left"></i>
    </a>

    <div class="menuClientes-header">
        <i class="fa-solid fa-circle-user"></i>
        <h2>Gestión de Clientes</h2>
    </div>

    <nav class="menuClientes-menu">
        <a href="campaniaActual.html" class="menuClientes-btn">
            <span>Ver campaña actual de cliente</span>
            <i class="fa-solid fa-user-plus"></i>
        </a>

        <a href="clienteAppHistorico.html" class="menuClientes-btn">
            <span>Ver historial de clientes</span>
            <i class="fa-solid fa-key"></i>
        </a>

    </nav>

</div>

<script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-auth-compat.js"></script>
<script src="../js/Script.js"></script>

</body>
</html>