<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Aplicacion Servicios RR</title>

  <link rel="stylesheet" href="../css/Style.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body class="bodyMenu menu-page">

<main class="app">

  <header class="app__header">
    <h1 class="app__title">Aplicación Servicios RR</h1>
  </header>

  <section class="menu">

    <a href="agregarClienteNuevo.html" class="menu__button tooltip">
      <span>Agregar Cliente</span>
      <i class="fa-solid fa-user-plus"></i>

      <span class="tooltip-text">
        Agregar cliente
      </span>

    </a>

    <a href="menuClientes.html" class="menu__button tooltip">
      <span>Gestión de Clientes</span>
      <i class="fa-solid fa-table"></i>

      <span class="tooltip-text">
        Consultar tablas
      </span>

    </a>

    <button class="menu__button tooltip">
      <span>Reseteo</span>
      <i class="fa-solid fa-rotate"></i>

      <span class="tooltip-text">
        Al pulsar este boton, luego de una confirmación, se resetea el año fiscal, dejando en blanco los datos fiscales de los clientes en este nuevo año y guardando lo que fue el anterior año en el historico
      </span>
    </button>

    <a href="usuarios.html" class="menu__button tooltip">
      <span>Usuarios</span>
      <i class="fa-solid fa-users"></i>

      <span class="tooltip-text">
        Editar usuarios
      </span>

    </a>

  </section>

  <section class="import">

    <button class="menu__button tooltip" id="importButton">
      <span>Importar Excel</span>
      <i class="fa-solid fa-file-excel"></i>

      <span class="tooltip-text">
        Importa clientes desde un archivo Excel ya existente
      </span>
    </button>

    <input type="file" id="excelFile" accept=".xlsx,.xls">

  </section>

</main>

<script src="../js/Script.js"></script>

</body>

</html>