<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cambiar Contraseña</title>
    <link rel="stylesheet" href="../css/Style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body class="passwordBody">

<div class="password">

    <a href="usuarios.html" class="back-button-agregarUsuarios">
        <i class="fa-solid fa-arrow-left"></i>
    </a>

    <div class="passwordUsuarios-header">
        <i class="fa-solid fa-key"></i>
        <h2>Cambiar Contraseña</h2>
    </div>

    <nav class="passwordUsuarios-menu">
        <input type="text" placeholder="Usuario" class="passwordUsuarios-inp">
        <input type="password" placeholder="Nueva Contraseña" class="passwordUsuarios-inp">
        <button class="password-aceptar" onclick="window.location.href='../html/menu.html'">
            Aceptar
        </button>
    </nav>

</div>

</body>
</html>